<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel Tests" verbose="1" thread-count="4"
parallel="tests">
<tests>
<test name="Windows+Chrome Test">
<parameters>
<parameter name="platform" value="WINDOWS" />
<parameter name="browser" value="chrome" />
<parameter name="version" value="Any" />
<parameter name="url" value="http://www.gmail.com"/>
</parameters>
<classes>
<class name="seleniumGrid.GmailLogin" />
</classes>
</test>
<test name="Mac+Safari Test">
<parameters>
<parameter name="platform" value="MAC" />
<parameter name="browser" value="Safari" />
<parameter name="version" value="Any" />
<parameter name="url" value="http://www.gmail.com"/>
</parameters>
<classes>
<class name="seleniumGrid.GmailLogin" />
</classes>
</test>
<test name="iOS Test">
<parameters>
<parameter name="platform" value="MAC" />
<parameter name="browser" value="iPhone" />
<parameter name="version" value="Any" />
<parameter name="url" value="http://www.gmail.com"/>
</parameters>
<classes>
<class name="seleniumGrid.GmailLogin" />
</classes>
</test>
<test name="Andorid Test">
<parameters>
<parameter name="platform" value="Android" />
<parameter name="browser" value="Android" />
<parameter name="version" value="2.6" />
<parameter name="url" value="http://www.gmail.com"/>
</parameters>
<classes>
<class name="seleniumGrid.GmailLogin" />
</classes>
</test>
</tests>
</suite>